<table>
  <tr>
    <th>
      <h2>ID</h2>
    </th>
    <th>
      <h2>Status</h2>
    </th>
    <th>
      <h2>Winner</h2>
    </th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td>
        <%= game.id %>
      </td>
      <td>
        <%= game.status.upcase %>
      </td>
      <td>
        <% if game.completed? %>
          <%= game.winner.name %>
        <% else %>
          N/A
        <% end %>
    </tr>
  <% end %>
</table>

