<%= javascript_include_tag 'game_setup.js' %>
<form action="/games" method="post">
  <label>Board Type:</label>
  <label>Rows:</label>
  <input name="rows"/>
  <label>Columns:</label>
  <input name="columns"/>
  <br>
  <div class='players'>
  </div>
  <div class='add-player'>
    Add Player
  </div>
  <br>
  <input id='submit' value="Start!" type="submit" disabled/>
  <input id='player_count' value=0 name="player_count" type="hidden"/>
</form>
<hr>
