<hr>
<table>
  <tr>
    <th>
      <h2>ID</h2>
    </th>
    <th>
      <h2>Name</h2>
    </th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td>
        <%= player.id %>
      </td>
      <td>
        <%= player.name %>
      </td>
    </tr>
  <% end %>
</table>

