<h1>
  New Player:
</h1>
<hr>
<div style="float:left">
  <div style="float:left">
    <a href='/'>Home</a>
  </div>
  <div style="float:left">
    <a href='/games/new'>New Game</a>
  </div>
  <div style="float:left">
    <a href='/players/new'>New Player</a>
  </div>
</div>
<div style="clear:both"></div>
<hr>

<form action="/players" method="post">
  <label>Name:</label>
  <input name="name"/>
  <input name="Create" type="submit"/>
</form>
<hr>
