<%= javascript_include_tag 'header' %>
<h1>
  Connect-IV
</h1>
<hr>
<div class='float'>
  <div class='float header-link'>
    <a href='/'>Home</a>
  </div>
  <div class='float header-link'>
    <a  href='/games/new'>New Game</a>
  </div>
  <div class='float header-link'>
    <a href='/players/new'>New Player</a>
  </div>
</div>
<div class='clear'></div>
<hr>
